<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="main min-h-screen min-w-100 flex flex-row ">

    <div class="taskbar w-40 bg-zinc-900 min-h-screen">
      <form class=" py-5  " action="/createfile" method="post">
        <input type="text" placeholder="Enter filename" name="filename">
        <button type="submit">Create</button>
      </form>

      <% files.forEach(function(val) { %>
        <li><a href="<%= val %>"><%= val %></a></li>
    <% }) %>





    <div class="taskbar2 w-screen bg-zinc-800 min-h-screen"> </div>



  </div>
</body>
</html>